.formContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.formGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    background-color: #f28e2a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #d16d00;
}
